<div class="page-header">
  <h2><%= I18n.t("headers.new", model_name: Recipe.model_name.human) %></h2>
</div>

<ul class="nav nav-tabs">
	<%= tab("List", recipes_path, "fa fa-list") %>
  <%= active_tab "Add New", new_recipe_path, "fa fa-plus" %>
  <%= disabled_tab "Details", "fa fa-info-circle" %>
  <%= disabled_tab "Edit", "fa fa-pencil-square-o" %>
</ul>

<%= form_for(@recipe, html: { class: "new_recipe form-horizontal", role: "form" }) do |f| %>
  <%= render 'form', f: f %>
<% end %>